 .slider{
	width:870px;
	height:550px;
    margin: 0 0 0 50px;
}
.slider.video{
 margin: 0px;
 height:300px;
}
.slider_head{
	width:874px;
	overflow:hidden;
	position:relative;
	 height: 70px;
}
.slider_head.video_list{
  height: 1px;
  overflow: visible;
}

.slider_head ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
	width:50000px;
	left: 0;
    position: absolute;
}
.slider_head li{
	display: inline-block;
	font:60px 'HelveticaNeueCyr-UltraLight', Arial, sans-serif;
	opacity:0.6;
	width:660px;
     position: relative;
}
.slider_head li.current{
	opacity:1;
	
	font:60px 'HelveticaNeueCyr-light', Arial, sans-serif;
}